* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 950px) {
  .wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 550px;
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    max-width: 90%;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/01.jpg") no-repeat;
  background-size: cover;
}
.header > .wrapper {
  height: 100%;
}
.header h1 {
  color: #fff;
  font-size: 50px;
}
@media screen and (max-width: 750px) {
  .header h1 {
    font-size: 40px;
  }
}
.header ul {
  display: flex;
}
@media screen and (max-width: 750px) {
  .header ul {
    justify-content: center;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
@media screen and (max-width: 750px) {
  .header__nav {
    justify-content: center;
  }
}
.header__nav .burger {
  color: #fff;
  font-size: 25px;
  display: none;
}
@media screen and (max-width: 950px) {
  .header__nav .burger {
    display: block;
  }
}
.header__links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .header__links {
    display: none;
  }
}
.header__links button {
  background: #fa811d;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}
.header__links li {
  padding-right: 20px;
}
.header__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .header__text {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .header__text li {
    padding-left: 20px !important;
    font-size: 40px !important;
  }
}
@media screen and (max-width: 400px) {
  .header__text li {
    padding-left: 10px !important;
    display: none;
  }
}
.header__text li:nth-child(1) {
  padding-left: 0 !important;
}
.header__text p {
  font-size: 20px;
  color: #fff;
}
.header__text li:nth-child(1) {
  font-size: 60px;
  color: yellow;
  padding-left: 0;
}
.header__text li:nth-child(2) {
  font-size: 60px;
  color: #fa811d;
  padding-left: 40px;
}
.header__text li:nth-child(3) {
  font-size: 60px;
  color: #00c3ff;
  padding-left: 40px;
}
.header__text li:nth-child(4) {
  font-size: 60px;
  color: lightgreen;
  padding-left: 40px;
}

.tickets {
  width: 100%;
}
.tickets > .wrapper {
  display: flex;
  padding: 120px 0;
}
.tickets__text {
  padding-left: 35px;
}
.tickets__text h2 {
  color: purple;
  font-size: 30px;
}
.tickets__text > p {
  padding-top: 50px;
}
.tickets__text_btn-1 {
  background: purple;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}
.tickets__text_btn-2 {
  background: lightgreen;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}